{% extends "base.html" %}
{% block content %}
	<script>
var refs = {
	'Zpráva o životním prostředí ČR':  [1, 'https://www.mzp.cz/cz/zpravy_o_stavu_zivotniho_prostredi_publikace', 'MZP ČR, 2015'],
	'Energetika v Česku' : [2, 'https://cs.wikipedia.org/wiki/Energetika_v_%C4%8Cesku', 'wikipedia, 2019'],
	'Atlas Masa' : [3, 'https://www.foeeurope.org/meat-atlas/', ''],
	'Rostlinné Bílkoviny' :  [4, 'https://veganskaspolecnost.cz/vyziva/bilkoviny/', 'Česká veganská společnost'],
}
	</script>

    <div class="page-header">
        <h1>Globální oteplování:
            <small class="text-muted">Jak mohu pomoci?</small></h1>
    </div>
    <hr/>
	<p>
	Tato stránka si klade za cíl ukázat, <b>čím každý z nás nejvíc přispívá ke klimatické změně</b>.
	Na základě toho pak můžeme vytipovat v našich životech věci, jejichž změnou můžeme v boji s globálním oteplováním
	opravdu účinně pomáhat.
	</p>
    <p>
	 <b>Pojďme dělat změny, které opravdu pomáhají!</b>
	</p>
    <p>
        <!--
        TODO vypocet tohodle odhadu nekde rozepsat. / dat pryc
        reference

        TODO breakdown na jednotlive podcasti; energie domacnost > topeni | ohrev vody
         -->
        Průměrný Čech přímo ročně vyprodukuje asi <span
            data-bind="html: format_co2_cmp_pop(DATA.cr_avg_total_est / 1000)"></span>.
	Největší část z toho připadá na vytápění domácnosti, zbytek hlavně na produkci jídla a dopravu.
    </p>

	</div>

	<div class="container">
	<div class="row">
	<div class='col-md-8'>
	<h3>Stručně: Co s tím můžu dělat?</h3>
    <ul>
        <li>
            <i class="material-icons">house</i> vytápění domácnosti, teplá voda,
            <b data-bind='text: format_perc(DATA.cr_energy_doma  / DATA.cr_avg_total_est)'></b>
			emisí
            &ndash;
            <span data-bind="html: format_co2_cmp_pop(DATA.cr_energy_doma / 1000)"></span>
            <ul>
                <li>
                    Topit ekologicky.
                </li>
                <li>
                    Zateplit dům.
                </li>
                <li>
                    Snížit spotřebu teplé vody, topit méně.
                </li>
            </ul>
        </li>
		<br>
        <li><i class="material-icons">restaurant</i> jídelníček,
            <b data-bind='text: format_perc(DATA.cr_avg_jidlo_est  / DATA.cr_avg_total_est)'></b>
			emisí
            &ndash;
            <span data-bind="html: format_co2_cmp_pop(DATA.cr_avg_jidlo_est / 1000)"></span>
            <ul>
                <li>
                    Jíst co nejméně masa a mléčných výrobků.
                </li>
                <li>
                    Kuře a ryby místo hovězího a vepřového.
                </li>
            </ul>
        </li>
		<br>
        <li><i class="material-icons">directions_car</i> doprava,
            <b data-bind='text: format_perc(DATA.cr_avg_doprava_est / DATA.cr_avg_total_est)'></b>
			emisí
            &ndash;
            <span data-bind="html: format_co2_cmp_pop(DATA.cr_avg_doprava_est / 1000)"></span>
            <ul>
                <li>
                    Co nejméně létat a jezdit autem.
                </li>
                <li>
                    Preferovat hromadnou dopravu.
                </li>
                <li>
                    Jet na dovolenou poblíž ČR.
                </li>
            </ul>

        </li>
    </ul>

    <br/>
	<p>Pojďme se nyní podívat na jednotlivé oblasti detailně.</p>
	<div class="alert alert-toc">
		<h4 class='alert-heading'>Obsah:</h4>
		<ol>
			<li>
				<a href='#vytapeni-domacnosti'>Vytápění domácnosti</a>
			</li>
			<li>
				<a href='#jidelnicek'>Jídelníček</a>
			</li>
			<li>
				<a href='#doprava'>Doprava</a>
			</li>
			<li>
				<a href='#odkazy-a-zdroje'>Odkazy a zdroje</a>
			</li>
		</ol>
	</div>
	</div> <!-- endcol left-->

	<div class='col-md-4 float-end'>
	<div class="alert alert-success">
		<h4 class='alert-heading'>Mohlo by Vás také zajímat:</h4>
	<a class='lead' href='/temata/plasty'>Téma: Plasty a globální oteplování</a>
	<!--
	<span class="material-icons">recycling</span>
	-->
	<p>
	Víte jak a jestli vůbec škodí plasty životnímu prostředí? Co plasty a oxid uhličitý?
	Jsou plasty z Čech v moři?
	</p>
	</div>
	</div>

	</div> <!-- endrow -->
    <br/>
    <!--
        Doma
    -->
    <hr/>
    <h2 id='vytapeni-domacnosti'>
        <i class="material-icons">house</i>
        Vytápění domácnosti:
        <small class="text-muted">Co má největší smysl?</small>
<a class="zola-anchor" href="#vytapeni-domacnosti" aria-label="Anchor link for: vytapeni-domacnosti">🔗</a>
    </h2>
    <hr/>
    <div class='obsah_block'>
        <p>
            <button type="button"
                    class="btn btn-outline-primary btn-sm"
                    data-bind="click: dum_spotreba(Math.ceil(DATA.cr_domacnost_topeni_avg)),
                               event: { keypress: updatePopover, mouseout: updatePopover }">
                Průměrná česká domácnost
            </button>
            protopí za rok <input type="range" data-bind="value: dum_spotreba, valueUpdate: 'input', event: { touchend: updatePopover, keypress: updatePopover, mouseout: updatePopover }" min="1" max="30">
            &nbsp;
            <b data-bind="text: dum_spotreba"></b><b> MWh / rok</b>.
            <!--, což je
            <b data-bind="text: (dum_spotreba() * 3600 / 1000).toFixed(0)"></b><b> GJ / rok</b>
            -->
            <br/>
            Průměrná spotřeba se liší podle toho, bydlíte-li v
            <button type="button" class="btn btn-outline-primary btn-sm" title="Byt"
                    data-bind="click: dum_spotreba(Math.ceil(DATA.cr_domacnost_topeni_byt_avg_est)),
                               event: { keypress: updatePopover, mouseout: updatePopover }">
                <div>
                    <i class="material-icons">apartment</i>
                    bytě
                </div>
            </button>
            , nebo
            <button type="button" class="btn btn-outline-primary btn-sm" title="Dům"
                    data-bind="click: dum_spotreba(Math.ceil(DATA.cr_domacnost_topeni_dum_avg_est)),
                               event: { keypress: updatePopover, mouseout: updatePopover }">
                <div>
                    <i class="material-icons">house</i>
                    rodinném domě
                </div>
            </button>
            <!--
            Cena elektřiny: <input type="range" data-bind="value: cena_kwh, valueUpdate: 'input', event: { keypress: updatePopover, mouseout: updatePopover }" min="0.5" max="5" step="0.1"> &nbsp; <b data-bind="text: cena_kwh"></b> <b>Kč / kWh</b>.
            -->
        </p>

		<br>
        <h3>1. Topit ekologicky.</h3>
        <p>
            To znamená především <b>netopit uhlím</b> ve starém kotli a <b>netopit elektrokotlem</b>. Pro výše uvedenou
            domácnost platí, že:
        <ul>
            <li>
                <b>Kotel na uhlí</b> (účinnost 50%) vyprodukuje za rok <span
                    data-bind="html: format_co2_cmp_pop(kotel_na_uhli_co2())"></span>.
            </li>
            <li>
                <b>Kotel na plyn</b> (účinnost 95%) vyprodukuje za rok <span
                    data-bind="html: format_co2_cmp_pop(kotel_na_plyn_co2())"></span>.

            </li>
            <li>
                <b>Elektrický kotel</b> vyprodukuje za rok <span
                    data-bind="html: format_co2_cmp_pop(elektrokotel_co2())"></span>,
				<span class="under_dot" data-bind="html: format_cena_ref(cena_kwh(), dum_spotreba() * 1000 * cena_kwh())"></span>.
            </li>
            <li>
                <b>Tepelné čerpadlo</b> s topným faktorem COP
                <input type="range"
                       data-bind="value: cerpadlo_cop, valueUpdate: 'input', event: { touchend: updatePopover, keypress: updatePopover, mouseout: updatePopover }"
                       min="2" max="5" step='0.1'>
                &nbsp;
                <b data-bind="text: cerpadlo_cop"></b>
                vyprodukuje za rok
                <span data-bind="html: format_co2_cmp_pop(cerpadlo_co2())"></span>,
				<span class="under_dot" data-bind="html: format_cena_ref(cena_kwh(), dum_spotreba() * 1000 * cena_kwh() / cerpadlo_cop())"></span>.
            </li>
        </ul>
        </p>
        <div class="alert alert-info">
            <p>
                <i class="material-icons">smoking_rooms</i>
                Kromě množství vypuštěného CO<sub>2</sub> jsou kotle na uhlí hlavním zdrojem zdraví velmi škodlivých
                a karcinogenních malých prachových částic PM<sub>2.5</sub>,
                viz&nbsp;<span data-bind="html: render_ref('Zpráva o životním prostředí ČR')"></span>.
                Staré kotle na uhlí jsou mnohem škodlivější,
                než nové s velkou účinností, ale stále je to horší než
                tepelné čerpadlo, nebo plyn.
            </p>
            <p>
                <i class="material-icons">info</i>
                Oproti obyčejnému elektrickému kotli má tepelné čerpadlo
                <b data-bind="text: cerpadlo_cop"></b> krát (přesně o COP)
                nižší náklady a emise, ročně s ním ušetříte
                <b data-bind="html: format_cena(cerpadlo_setrim())"></b>.
                Stojí-li tepelné čerpadlo
                <input type="range"
                       data-bind="value: cerpadlo_cena, valueUpdate: 'input', event: { touchend: updatePopover, keypress: updatePopover, mouseout: updatePopover }"
                       min="150000" max="350000" step='10000'>
                &nbsp;
                <b data-bind="html: format_cena(cerpadlo_cena())"></b>, investice se Vám vrátí za
                <b data-bind="text: Math.ceil(cerpadlo_navratnost())"></b> let.
            </p>
            <p class="">
                <i class="material-icons">help</i>
                Jaktože má tepelné čerpadlo větší emise CO<sub>2</sub> než plynový kotel? Je to tím, že elektřina v
                České republice je <b>hodně špinavá</b> &ndash; přes 40% energie se vyrobí v hnědouhelných elektrárnách,
                viz&nbsp;<span
                    data-bind="html: render_ref('Energetika v Česku')"></span>.
                Bude-li ČR v budoucnosti vyrábět energii čistěji, emise tepelných čerpadel (a elektrokotlů) budou
                klesat.
                <!--
                <input type="range"
                       data-bind="value: elektrina_cr_mix_emise, valueUpdate: 'input', event: { touchend: updatePopover, keypress: updatePopover, mouseout: updatePopover }"
                       min="0.0" max="1.5" step='0.1'>
                &nbsp;
                <b data-bind="html: elektrina_cr_mix_emise"></b>.
                -->
            </p>
            <p class="mb-0">
                <i class="material-icons">wb_sunny</i>
                Emise tepelného čerpadla (a svůj účet za elektřinu) můžete dále snížit instalací <b>Solárních panelů</b>.
                U moderních panelů očekávejte návratnost 5&ndash;10 let, a životnost 30&ndash;40 let.
            </p>
        </div>
		<br>
        <!-- TODO solar -->
        <h3>2. Zateplit dům.</h3>
        <!--
        (TODO okna, zdi, střecha)
        -->
        <p>
            <b>Zateplení domu</b> snižuje spotřebu energie na vytápění, často i o <b>30&ndash;60%</b>,
            a tím klesají i náklady na energie a emise CO<sub>2</sub>. Zateplení zahrnuje především <b>pořízení
            kvalitních oken, poté zateplení stěn a střechy</b>.
        </p>
        <p>
            Například, představme si starý dům, kde se topí uhlím a kde jsou jen stará špaletová okna.
           <br>
                Když zateplením snížíme spotřebu energie na vytápění o
            <input type="range"
				   data-bind="value: zatepleni_uspora, valueUpdate: 'input', event: { keypress: updatePopover, mouseout: updatePopover }"
				   min="0" max="100" step="10"> &nbsp; <b data-bind="text: zatepleni_uspora() + ' %'"></b>,
             za rok se ušetří
            <span data-bind="html: format_co2_cmp_pop(zatepleni_uspora_kg() / 1000)"></span>.
        </p>
        <p>
            Podívejte se,
			<!--
	return (
	'<a data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" '+
	'title="Při ceně '+cenakwh.toFixed(1)+' Kč</b> za 1 kWh." '+
	' data-bs-placement="bottom" data-bs-trigger="hover">'+
	's náklady na elektřinu '+
    format_cena(cena_tot)
	+'</a>');
			-->
			<span class='under_dot'>
            <a data-bs-toggle="tooltip" data-bs-html="false"
               title="Efekty se budou pravděpodobně výrazně lišit podle konkrétních parametrů zateplovaného domu."
               data-bs-placement="bottom" data-bs-trigger="hover">
                jaký efekt může v takovém domě velmi zhruba mít:
            </a>
			</span>
        </p>
            <p>
                <button type="button" class="btn btn-outline-primary btn-sm" title="Byt"
                        data-bind="click: zatepleni_uspora(30),
                               event: { keypress: updatePopover, mouseout: updatePopover }">
                    <div>
                        <i class="material-icons">border_all</i>
                        výměna starých špaletových oken za moderní dvojskla
                    </div>
                </button>
        </p>
        <p>
                <button type="button" class="btn btn-outline-primary btn-sm" title="Byt"
                        data-bind="click: zatepleni_uspora(40),
                               event: { keypress: updatePopover, mouseout: updatePopover }">
                    <div>
                        <i class="material-icons">house</i>
                        zateplení polystyrenem
                    </div>
                </button>
        <!--
        TODO nekam ref:
        okna:
        https://www.lepebydlet.cz/vymena-starych-oken-za-nove-usetri-vasi-penezenku
        https://www.idnes.cz/bydleni/stavba/vymena-oken-kalkulator.A160219_144042_stavba_rez

        barak:

        https://ekolist.cz/cz/publicistika/nazory-a-komentare/jiri-vesely-pri-zatepleni-domu-nad-12-cm-polystyrenu-se-jiz-uspora-nezvetsuje
        -->
        </p>

		<br>
        <h3>3. Snížit spotřebu teplé vody, topit méně.</h3>
        <p>
            <i class="material-icons">bathtub</i>
            <b>Ohřev teplé vody</b> odpovídá zhruba
            <b data-bind='text: format_perc(DATA.mat_cr_avg_tepla_voda / DATA.cr_avg_total_est)'></b>
            celkových emisí průměrného Čecha.
        </p>
        <p>
            <b>Omezením spotřeby teplé vody</b> o
            <input type="range"
                   data-bind="value: tepla_voda_uspora, valueUpdate: 'input', event: {touchend: updatePopover, keypress: updatePopover, mouseout: updatePopover }"
                   min="0" max="100" step="10"> &nbsp; <b data-bind="text: tepla_voda_uspora() + ' %'"></b>
            sníží průměrný Čech své roční emise z vytápění o
            <b data-bind='text: format_perc1(tepla_voda_uspora_kg() / DATA.cr_energy_doma)'></b>
            &ndash;
            <span data-bind="html: format_co2_cmp_pop(tepla_voda_uspora_kg() / 1000)"></span>.
        </p>

        <p>
            <b>Snížením teploty v domácnosti</b> o
            <input type="range"
                   data-bind="value: teplota_snizena, valueUpdate: 'input', event: {touchend: updatePopover, keypress: updatePopover, mouseout: updatePopover }"
                   min="0" max="5" step="1"> &nbsp; <b data-bind="text: teplota_snizena() + '° C'"></b>
            sníží průměrný Čech své roční emise z vytápění o
            <b data-bind='text: format_perc1(teplota_uspora_kg() / DATA.cr_energy_doma)'></b>
            &ndash;
            <span data-bind="html: format_co2_cmp_pop(teplota_uspora_kg() / 1000)"></span>.
        </p>
        <!-- moc dlouhy

        <h3>Zvážit instalaci solárních panelů</h3>
            <p>Solární panely se vyplatí pokud jste schopni vyrobenou elektřinu sami spotřebovat,
            například máte-li tepelné čerpadlo, nebo pro elektrický ohřev teplé vody.
            U moderních panelů očekávejte návratnost 5-10 let.
        </p>
        -->

        <!--
        <div class="alert alert-info">
          <h3 class="alert-heading">Vytápění domácnosti: kalkulačka</h3>
          <p>Blablabla. Tady bude kalkulacka a zdroje</p>
          <hr>
          <p class="mb-0">Tohle je hezky text s malym bottom marginem</p>
        </div>
            <hr />
        -->

    </div>

    <!--
        Jídelníček
    -->
    <br/>

    <hr/>
    <h2 id='jidelnicek'>
        <i class="material-icons">restaurant</i>
        Jídelníček:
        <small class="text-muted">Co má největší smysl?</small>
<a class="zola-anchor" href="#jidelnicek" aria-label="Anchor link for: jidelnicek">🔗</a>
    </h2>
    <hr/>

    <div class='obsah_block'>
        <h3>
            1. Jíst co nejméně masa a mléčných výrobků.
        </h3>
        <p><b>Produkce hovězího a vepřového masa</b> má z jídla největší zátěž pro životní prostředí.
            Například krávy potřebují hodně krmiva, vody, půdy, a produkují
            hodně metanu, který je silným skleníkovým plynem&nbsp;<span
                    data-bind="html: render_ref('Atlas Masa')"></span>.
            <b>Produkce mléka, másla a sýrů</b> má rovněž velký vliv.</p>
        <p><b>Vynecháním masa a mléčných výrobků</b>
            <input type="range"
                   data-bind="value: maso_mleko_uspora, valueUpdate: 'input', event: {touchend: updatePopover, keypress: updatePopover, mouseout: updatePopover }"
                   min="0" max="7" step="1">
            &nbsp; <b data-bind="text: format_days(maso_mleko_uspora())"></b> v týdnu
            (aneb <b data-bind="text: (maso_mleko_uspora() / 7 * 100).toFixed(0) + ' %'"></b> celkové spotřeby masa a
            mléčných
            výrobků)
            snížíte za rok své emise z jídla o
            <b data-bind='text: format_perc1(maso_mleko_uspora_kg() / DATA.cr_avg_jidlo_est)'></b>
            &ndash;
            <span data-bind="html: format_co2_cmp_pop(maso_mleko_uspora_kg() / 1000)"></span>.
        </p>
        <div class="alert alert-info">
            <p class="mb-0">
                <i class="material-icons">local_grocery_store</i>
                Maso a mléčné výrobky lze nahradit rostlinnými ekvivalenty s vysokým podílem bílkovin
                &ndash; například tofu, luštěniny, ořechy a obiloviny,
                viz&nbsp;<span data-bind="html: render_ref('Rostlinné Bílkoviny')"></span>.
            </p>
        </div>

		<br>
        <h3>
            2. Kuře a ryby místo hovězího a vepřového.
        </h3>
        <p>
            Kromě omezení celkové spotřeby masa <b>můžete pomoct i změnou skladby jídelníčku</b>. Produkce kuřecího
			masa (nebo ryb) je pro životní prostředí mnohem menší zátěží, než produkce hovězího masa.
            <span data-bind="html: render_ref('Atlas Masa')"></span>
        </p>
        <p>
            Když kuřecím nahradíte
            <input type="range"
                   data-bind="value: vepr_hovezi_uspora, valueUpdate: 'input', event: {touchend: updatePopover, keypress: updatePopover, mouseout: updatePopover }"
                   min="0" max="100" step="10">
			&nbsp; <b data-bind="text: vepr_hovezi_uspora() + ' %'"></b> své spotřeby <b>hovězího</b> a vepřového,
            snížíte za rok své emise z jídla o
            <b data-bind='text: format_perc1(vepr_hovezi_uspora_kg() / DATA.cr_avg_jidlo_est)'></b>
            &ndash;
            <span data-bind="html: format_co2_cmp_pop(vepr_hovezi_uspora_kg() / 1000)"></span>.
        </p>

        <!--
            Doprava
        -->
    </div>

    <br/>

    <hr/>
    <h2 id='doprava'>
        <i class="material-icons">directions_car</i>
        Doprava:
        <small class="text-muted">Co má největší smysl?</small>
<a class="zola-anchor" href="#doprava" aria-label="Anchor link for: doprava">🔗</a>
    </h2>
    <hr/>
    <div class='obsah_block'>
        <h3>
            1. Co nejméně létat a jezdit autem.
        </h3>
        <p>
            Jízda autem produkuje přibližně <span data-bind='text: (1000 * DATA.auto_co2_km_avg).toFixed(0)'></span> g
            CO<sub>2</sub> na kilometr,
            letadlo <span data-bind='text: (1000 * DATA.letadlo_co2_km_equiv).toFixed(0)'></span> g CO<sub>2</sub> na
            osobu a kilometr.
            Na 1&nbsp;kilometr je tak auto (s jedním pasažérem) zhruba
            <b data-bind='text: (DATA.letadlo_co2_km_equiv / DATA.auto_co2_km_avg).toFixed(1)'></b>&nbsp;krát
            lepší.
        </p>
        <div class="alert alert-info">
            <p class="mb-0">
                <i class="material-icons">info</i>
                Problém aut je v tom, že jezdí skoro prázdná &mdash; při dojíždění do práce například
					často jede jen řidič. Průměrné auto v ČR přepravuje jen
				<span data-bind='text: DATA.auto_naplnenost_cr_est'></span> osoby.
                Když se v autě jezdí ve třech (a více) lidech, jde v podstatě o ekologickou formu dopravy
                (na úrovni autobusu).
            </p>
			<br>
            <p>
                <i class="material-icons">smoking_rooms</i>

				Kromě CO2 produkují auta navíc prach a další škodliviny, ve městech jsou tyto látky
				jedním z hlavních zdrojů znečištění ovzduší.
            </p>
        </div>

        <br/>
        <h3>
            2. Preferovat hromadnou dopravu.
        </h3>
        <p>
            Pokud by člověk nahradil
            <input type="range"
                   data-bind="value: auto_mhd_uspora, valueUpdate: 'input', event: {touchend: updatePopover, keypress: updatePopover, mouseout: updatePopover }"
                   min="0" max="100" step="10">
            &nbsp; <b data-bind="text: auto_mhd_uspora() + ' %'"></b>
            kilometrů které najezdí autem za hromadnou dopravu, za rok by snížil své celkové emise z dopravy přibližně o
            <b data-bind='text: format_perc1(auto_mhd_uspora_kg() / DATA.cr_avg_doprava_est)'></b>
            &ndash;
            <span data-bind="html: format_co2_cmp_pop(auto_mhd_uspora_kg() / 1000)"></span>.
        </p>
        <br/>
        <h3>
            3. Jet na dovolenou poblíž ČR.
        </h3>
        <p>
            Pokud by člověk jel na dovolenou do Čech, namísto
            <select data-bind="options: destinace_dovolena,
                       value: sel_dovolena,
                       valueAllowUnset: true"></select>,
            ušetřil by tím
            <b data-bind='text: format_perc1(dovolena_uspora_kg() / DATA.cr_avg_total_est)'></b>
            &ndash;
            <span data-bind="html: format_co2_cmp_pop(dovolena_uspora_kg() / 1000)"></span>
            ročních emisí průměrného Čecha.
        </p>
        <div class="alert alert-info">
            <p class="mb-0">
                <i class="material-icons">info</i>
                Všimněte si, že dovolená autem (když jedete na dovolenou ve
                <span data-bind="text: DATA.auto_naplnenost_dovolena_cr_est"></span> lidech,
                což zde předpokláme)
                je mnohem ekologičtější, než letecká dovolená (na kilometr zhruba
                <b data-bind="text: (DATA.letadlo_co2_km_equiv
							/ DATA.auto_co2_km_avg
							* DATA.auto_naplnenost_dovolena_cr_est).toFixed(1)"></b> krát).
                Krom menších emisí na kilometr je to i tím, že na dovolenou autem se jezdí na menší vzdálenosti,
                což je pro životní prostředí prospěšné.
            </p>
        </div>
    </div>

    <!--
        REFERENCE
    -->
    <br/>

		<hr/>
    <h2 id='odkazy-a-zdroje'>Odkazy &amp; zdroje
<a class="zola-anchor" href="#odkazy-a-zdroje" aria-label="Anchor link for: odkazy-a-zdroje">🔗</a>
	</h2>
    <hr/>
    <div class='obsah_block'>
    <p>
        Důsledně jsme se snažili poskytnout ověřené a zdrojované informace. Je ale nutné říct, že všechny zde
		uvedené statistiky a odhady stojí na zjednodušujících předpokladech a vycházejí z agregovaných dat,
		nelze je tedy brát vážně do poslední desetiny procenta.
    </p>
    <p>
        Smyslem je především poskytnout orientační přehled a ukázat, jak jsou jednotlivé složky řádově velké
        &mdash; aby si každý na základě toho mohl vybrat kroky které jemu osobně dávají největší smysl.
    </p>
    <ul>
        <!-- TODO: udelat to min akademicky a vic UX-friendly -->
        <li>
            <a href="data.js">Zdrojovaná a komentovaná data pro výpočty</a>
        </li>

		<div data-bind="html: render_refs()"></div>
    </ul>
	</div>
    <br/>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
	
	<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>



	TODO RM jquery
    <script src="/knockout-latest.js"></script>
	-->
	
    <script src="/data.js"></script>
    <script src="/kalkulacka.js"></script>

    <script type="text/javascript">
		updatePopover();
    </script>

{% endblock content %}
