{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>

{#
<p>
start
</p>
<ul>
{% for k, v in page %}
<li>
	'{{ k }}' : '{{ v }}'
</li>
{% endfor %}
</ul>
end
</p>
#}

{% if page.extra.czdate %}
<p class="subtitle"><strong>{{ page.extra.czdate }}</strong></p>
{% endif %}

{% if page.description %}
<p class="lead">{{ page.description | safe }}</p>
{% endif %}

{% if page.extra.fronttext %}
<p>{{ page.extra.fronttext | safe }}</p>
{% endif %}

{% if page.toc %}
<div class="alert alert-toc">
	<h4 class='alert-heading'>Obsah:</h4>

    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{{ page.content | safe }}
{% endblock content %}

